*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 0%;
    padding: 0%;
}


span{
    color: red;
}

h1{
    color: white;
}



ul a{
    color: black;
    justify-content: space-around;
    text-decoration: none;
    margin: 10px;
    font-size: large;
}